/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
}

p {
    margin: 0.5em 0;
}

header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #A493C0;
}

nav a:visited, 
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav a {
    padding: 0.5em;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

main {
    display: block;
    background-image: url("./../img/background.png");
    padding: 3em 0;
    min-height: 30em;
}

footer {
    padding: 10px;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

/* Pies */
.columns {
    display: flex;
    width: 100%;
}

.columns .title {
    font-weight: bold;
}

.columns .price {
    text-align: right;
}

.pie {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pie img {
    width: 100%;
}

.pie .columns div {
    width: 50%;
}

.pie button {
    padding: 10px;
    background-color: #F6AEAE;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    body {
        background-image: url("./../img/background.png");
    }

    main {
        display: flex;
        background-image: none;
    }

    aside {
        margin-left: 2%;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer {
        background-color: #999;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .columns-desktop {
        display: flex;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    nav > ul {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2rem;
    }
}