@media only screen and (min-width: 768px) {    
    .medium-6 {flex-basis: 50%;}

    header h1 {font-size: 2.5rem; padding-top: .3rem;}
    header h2 {font-size: 1.5rem; padding-top: .075rem; }
    header img {height: 100px;}
    
    nav ul.open {display: flex;}
    nav button {display: none;}
    nav ul {display: flex; width: 100%;}
    nav ul li {width: 25%;}
}