@media only screen and (min-width: 768px) {    
    footer > .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container > section:nth-of-type(1) {grid-column: 1 / 3;}
    .footer-container > section:nth-of-type(2) {grid-column: 3 / 5;}
    .footer-container > section:nth-of-type(3) {grid-column: 1 / 3;}
    .footer-container > section:nth-of-type(4) {grid-column: 3 / 5;}

    nav button {display: none;}
    nav ul {display: flex;}
    nav ul li {width: 25%;}
}