.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 2px;
    width: 100%;
}

label {
    font-weight: 600;
}

input[type="reset"] {
    background: transparent;
    border: 0;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"] {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    background-color: #F6AEAE;
}

@media only screen and (min-width: 768px) {
    form {
        width: 350px;
    }
}