html { /* Makes fonts have 100% size on webkit and MS browsers */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header, footer{
    width: 100%;
    background-color: #9b87b8;
    padding: 1.1rem;
}

/* Grid rules */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
}

header h1 { 
	padding: 2rem 0 0 0; 
	font-size: 1.95rem;
}
header h2{
	padding: .2rem 0 0 0; 
	font-size:1.05rem;    
}

header > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

header > div > img {
    height: 100px;
    padding-right: 10px;
}

/* Footer */

footer > .footer-container {
    display: flex;
    flex-direction: column;
}

.footer-container > section > h2 {
    margin: 0;
    font-weight: 700;
    font-style: italic;
}

.footer-container > section > ul {
    line-height: 1.5;
}

.footer-container > section > img {
    margin-top: 10px;
}

/* Nav bar */
button#hamburger-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px;
}

nav {background-color: #23CFA7;}
nav ul {margin: 0; padding: 0;}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .8rem 0;
    color: #EEE;
    text-align: center;
    text-decoration: none;
}
nav li.active {background-color: rgba(0, 0, 0, 0.5);}
nav a:hover {background-color: rgba(0, 0, 0, 0.2);}
nav ul.open {display: block;}
nav ul {display: none;}

/* Main */
.hero {
    grid-column: 1 / 13;
}

main img {
    width: 100%;
    height: auto;
}

main h1 {
    grid-column: 1 / 13;
    color: #9b87b8;
    font-style: italic;
    margin: .5rem 0 .1rem 0;
    font-size: 2rem;
}

main > .pie-card {grid-column: 1 / 13;}

.labeled {position: relative;}

.labeled h6, .labeled p {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0;
    width: 100%;
    padding: .3rem 1rem;
}

.labeled h6 {
    top: 0;
    font-size: 2rem;
    font-weight: 300;
}

.labeled p {
    bottom: 0;
    font-weight: 700;
    color: #b00;
}
