html { /* Makes fonts have 100% size on webkit and MS browsers */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header, footer{
    background-color: $primaryColor;
}

/* Grid rules */
.row {
    display: flex;
	flex-wrap: wrap;
}
.limited {
    max-width: 1200px; 
    margin: 0 auto;
}

.column { padding: 0 2vw; margin: 0 0 .75rem 0;}

@for $i from 1 through 12 {
    $w:calc($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}
// $w variable will contain $i divided by 12 (number of columns); first line
// $w gets multiplied by 100%, to convert $w value to percentage; second line
// -----------------------------
// Last line binds $i value to the class "small-",
// making it small-1 on the first loop, then applies the flex-basis property
// with $w value, which is 8,33333 on the first loop, for example;

/* Header */
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
}

header h1 { 
	padding-top: 1rem; 
	font-size: 1.95rem;
}
header h2{
	padding-top: .2rem; 
	font-size: 1.05rem;    
}

header > div > img {
    height: 85px;
    padding-right: 10px;
}

/* Footer */

footer h2 {
    margin: 1rem 0 .3rem 0;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
}

footer ul {
    line-height: 1.5;
}

footer img {
    margin-top: 10px;
}

/* Nav bar */
button#hamburger-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px;
}

nav {background-color: $secondaryColor;}
nav ul {margin: 0; padding: 0; width: 100%;}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .8rem 0;
    color: #EEE;
    text-align: center;
    text-decoration: none;
}
nav li.active {background-color: rgba(0, 0, 0, 0.5);}
nav a:hover {background-color: rgba(0, 0, 0, 0.2);}
nav ul.open {display: block;}
nav ul {display: none;}

/* Main */
main img {
    width: 100%;
    height: auto;
}

main h1, main h3 {
    color: $primaryColor;
    font-style: italic;
    margin: .5rem 0 .1rem 0;
    font-size: 2rem;
}

.labeled h6, .labeled p {display: none;}
.labeled {position: relative;}

main section.labeled:hover h6, main section.labeled:hover p {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0;
    width: 100%;
    padding: .3rem 1rem;
}

.labeled h6 {
    top: 0;
    font-size: 2rem;
    font-weight: 300;
}

.labeled p {
    bottom: 0;
    font-weight: 700;
    color: #b00;
}

/* Gallery */
main {
    h1 {font-size: 2rem;}
    h3 {font-size: 1.2rem;}
    p {
        font-size: 1.2rem;
        margin-bottom: .3rem;
    }
}